apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  template:
    spec:
      imagePullSecrets:
        - name: ghcr-credentials
      containers:
        - name: auth-service
          env:
            - name: KEYCLOAK_ISSUER_URI
              value: http://keycloak.dev.local/realms/intrachat
            - name: APP_CORS_ALLOWED_ORIGINS
              value: http://dev.intrachat.local,http://localhost:5173
