apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  template:
    spec:
      containers:
        - name: keycloak
          env:
            - name: KC_HTTP_RELATIVE_PATH
              value: /auth
          startupProbe:
            httpGet:
              path: /auth/health/ready
              port: http
            failureThreshold: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /auth/health/ready
              port: http
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /auth/health/live
              port: http
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 4
